.icon {
  width: 1.25rem;
  height: 1.25rem;
}

.controls {
  display: grid;
  grid-template-areas:
    ". up ."
    "left down right";
  gap: 0.25rem;
}

.up {
  grid-area: up;
  margin-top: auto;
}

.right {
  transform: rotate(90deg);
  grid-area: right;
}

.down {
  transform: rotate(180deg);
  grid-area: down;
}

.left {
  transform: rotate(-90deg);
  grid-area: left;
}
