.container {
  display: flex;
  justify-content: space-between;
}

.leftSec {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.title {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1rem;
}

.up {
  grid-area: up;
  margin-top: auto;
}

.right {
  grid-area: right;
}

.down {
  grid-area: down;
}

.left {
  grid-area: left;
}
