.container {
  display: grid;
  grid-template-areas:
    "title title"
    "menu reload";
}

.title {
  grid-area: title;
}

.menu {
  grid-area: menu;
  margin-right: 0.5rem;
}

.reload {
  grid-area: reload;
}
