.container {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 10;

  width: 100vw;
  height: 100vh;

  flex-direction: column;
  justify-content: center;

  background: rgba(4, 42, 43, 0.8);
  border-radius: 0px;
  backdrop-filter: blur(4px);

  color: var(--primary-light);
  font-size: 2rem;
  text-shadow: var(--bg-body) 2px 2px;
}
