.scoreBoard {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  gap: 0.5rem;
}

.score {
  color: var(--secondary-light);
  font-size: 1.5rem;
}

.title {
  color: var(--primary);
  font-weight: bold;
  font-size: 1.25rem;
}

.score,
.title {
  margin: 0;
}

.container {
  flex: 1;
  flex-direction: column;
  padding: 0.5rem 1rem;
}
