.container {
  position: absolute;
  inset: 0;
  z-index: 10;

  flex-direction: column;
  justify-content: center;

  background: rgba(4, 42, 43, 0.8);
  border-radius: 0px;
  backdrop-filter: blur(4px);

  color: var(--primary-light);
  font-size: 2rem;
  text-shadow: var(--bg-body) 2px 2px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
