.game {
  display: grid;
  grid-template-areas:
    "menu score"
    "board board";
  gap: 0.5rem;
}

.menu {
  grid-area: menu;
}

.scoreboard {
  grid-area: score;
}

.board {
  grid-area: board;
}
