.Tile {
  display: flex;
  border-radius: 50%;
  width: auto;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.numberWrapper {
  display: grid;
  grid-template-areas: "cell";
  place-items: center;
  font-weight: bold;
}

/* Place Both the number and it's stroke on the same cell */
.textStroke,
.number {
  grid-area: cell;
}

.textStroke {
  color: rgba(0, 0, 0, 0.2);
  filter: url(#stroke-text-svg-filter);
  /* place the stroke below the number*/
  z-index: 1;
}

.number {
  color: var(--primary-light);
  z-index: 2;
}
