.tile {
  display: flex;
  position: absolute;
  border-radius: 50%;
  width: var(--tile-size);
  height: var(--tile-size);
  justify-content: center;
  align-items: center;
  transform: translate(var(--x), var(--y));
}

.textStrokeWrapper {
  display: grid;
  grid-template-areas: "cell";
  place-items: center;
  font-weight: bold;
}

/* Place Both the number and it's stroke on the same cell */
.textStroke,
.text {
  grid-area: cell;
}

.textStroke {
  color: rgba(0, 0, 0, 0.2);
  filter: url(#stroke-text-svg-filter);
  /* place the stroke below the number*/
  z-index: 1;
}

.text {
  color: var(--primary-light);
  z-index: 2;
}
