.scoreBoard {
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  width: fit-content;
  height: fit-content;
}

.score {
  color: var(--secondary-light);
  font-size: 1.5em;
  line-height: 0;
  margin-left: 0.75rem;
}

.title {
  color: var(--primary);
  font-weight: bold;
  margin-left: 0;
  font-size: 1.5em;
  line-height: 0;
}

.padding {
  padding: 0.5rem 1rem;
}

.marginBottom {
  margin-bottom: 0.5rem;
  padding: 0.25rem 1rem;
}
