.app {
  background: var(--bg-body);
  min-height: 100vh;
}

.game {
  display: grid;
  width: fit-content;
  grid-template-areas:
    "menu score"
    "board board";
  gap: 0.5rem;
  padding: 1rem;
}

.menu {
  grid-area: menu;
}

.scoreboard {
  grid-area: score;
}

.board {
  grid-area: board;
}
