.app {
  background: var(--bg-body);
  min-height: 100vh;
}

.layout {
  display: grid;
  width: fit-content;
  grid-template-areas:
    "game"
    "instruction";
  gap: 0.5rem;
  padding: 1rem;
}

.game {
  grid-area: game;
}

.instruction {
  grid-area: instruction;
}
