/* Reset CSS styles */
@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Blinker:wght@400;600;700&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
}

/* Default styles*/
:root {
  /* Colors */
  --primary: hsl(189, 43%, 56%);
  --primary-light: hsl(0, 0%, 100%);
  --secondary-light: hsla(0, 0%, 100%, 0.6);
  --secondary: hsl(44, 81%, 67%);
  --bg-body: hsl(182, 83%, 9%);

  /* Fonts */
  font-family: "Blinker", sans-serif;
  font-size: 0.875rem;
  color: var(--primary);

  /* Spacing */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
}

/** Resets not covered by normalize*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

body {
  margin: 0;
}

@media screen and (min-width: 375px) {
  :root {
    font-size: 1rem;
  }
}

@media screen and (min-width: 1280px) {
  :root {
    font-size: 1.1rem;
  }
}

/* Typography */
.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.text-base {
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}

.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1;
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.text-8xl {
  font-size: 6rem;
  line-height: 1;
}

.text-9xl {
  font-size: 8rem;
  line-height: 1;
}
